* {
  padding: 0;
  margin: 0;

  font-family: arial;
}
body {
  background: linear-gradient(45deg, #5010d1, #1f0aff);
  text-align: center;
}
.textbox,
.datebox {
  text-align: left;
  /* height: 35px;
  width: 250px; */
  outline: none;
}
.datebox {
  /* width: 150px; */
}
h2 {
  color:white;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
 font-weight: 400;
 font-style: normal;
 font-size: 4rem;
 margin-bottom: 4rem;
margin-top: 2rem;
}

.addbox,
.removebox {
  border: none;
  background-color: green;
  color: white;
  height: 37px;
  width: 100px;
}
.showdiv,
.listdiv {
  /* display: none; */
  /* margin-top: 10px; */
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  margin-left: 230px;
  align-items: center;
}
.removebox {
  background-color: rgb(143, 29, 29);
}
.listdiv {
  /* margin: 30px 0 20px 0; */
  margin-bottom: 10px;
  align-items: stretch;
  margin-left: 18rem;
}
input{
  font-size: 1.1rem;
  font-family: sans-serif;
}
.rmtext , .rmdate{
  color:white
}
.rmdate{
  margin-left:3.2rem;
}
.removebox{
  margin-left:3.6rem;
}